<div id="modalcuentanew" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg"  style="max-height:80%; ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title">Abrir Cuenta</h4>
        <div class="alert alert-info" style="display:none">
            <strong>Exito!</strong> Se ha abierto una nueva cuenta.
        </div>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12">
                {{ form_start(formCuenta, {'attr': {'id': 'formCuenta'}}) }}
                {{ form_row(formCuenta.cliente) }}
                {{ form_row(formCuenta.mesa, {'attr': {'readonly': 'readonly'}}) }}
                {{ form_row(formCuenta.fechaCreacion, {'attr': {'readonly': 'readonly'}}) }}
                <label for="hora">Hora</label>
                <input type="text" name="hora" value="{{ "now"|date("h:i:s") }}" readonly="readonly" class="form-control">
                <input type="submit" value="Abrir" class="btn btn-primary" />
                {{ form_end(formCuenta) }}

              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
