{% extends 'base.html.twig' %}

{% block body %}
    <h1>Promocions Lista</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>FechaCreacion</th>
                <th>Hora Desde</th>
                <th>Hora Hasta</th>
                <th>Valor Venta</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promocion in promocions %}
            <tr>
                <td><a href="{{ path('promocion_show', { 'id': promocion.id }) }}">{{ promocion.id }}</a></td>
                <td>{{ promocion.producto.nombre }}</td>
                <td>{% if promocion.fechaCreacion %}{{ promocion.fechaCreacion|date('d-m-Y') }}{% endif %}</td>
                <td>{{ promocion.horaDesde }}</td>
                <td>{{ promocion.horaHasta }}</td>
                <td>{{ promocion.valorVenta }}</td>
                <td>{{(promocion.status==1 ? 'Activa' : 'Inactiva')}}</td>
                <td>
                <button class="btn btn-info" onclick="location.href='{{ path('promocion_show', { 'id': promocion.id }) }}'">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </button>
                <button class="btn btn-danger" onclick="location.href='{{ path('promocion_edit', { 'id': promocion.id }) }}'">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <button class="btn btn-primary" onclick="location.href='{{ path('promocion_new') }}'">
        Crear promocion
</button>
{% endblock %}
